/* -------------- STILE DECLARATION -------------- */
:root {
  --title-font: "Secular One", sans-serif;
  --accent-font: "Amiri", serif;
  --main-font: "Cambay", sans-serif;

  --white: #fff;
  --red: #fd0100;
  --dark-red: #e00000;
  --click-red: #c70000;
  --light-red: #fd6363;
  --gray: #2e2e2e;
  --light-gray: #545454;
  --text: #1c1c1c;
  --blue: #2752d6;

  --transparent-bg: rgba(255, 255, 255, 0.97);
  --shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  --radius: 8px;
}
.mt__font--title {
  font-family: var(--title-font);
}
.mt__font--accent {
  font-family: var(--accent-font);
}
.mt__font--main {
  font-family: var(--main-font);
}
.mt__td--little-bigger {
  font-size: 1.414rem;
}
.mt__td--bigger {
  font-size: 1.999rem;
}
.mt__td--large {
  font-size: 2.827rem;
}
.mt__td--extra-large {
  font-size: 3.998rem;
}
.mt__bg-white {
  background-color: var(--white);
}
.mt__cl-white {
  color: var(--white);
}
.mt__bg-white--transparent {
  background-color: var(--transparent-bg);
}
.mt__bg-red {
  background-color: var(--red);
}
.mt__cl-red {
  color: var(--red);
}
.mt__bg-light-red {
  background-color: var(--light-red);
}
.mt__cl-light-red {
  color: var(--light-red);
}
.mt__bg-gray {
  background-color: var(--gray);
}
.mt__cl-gray {
  color: var(--gray);
}
.mt__bg-light-gray {
  background-color: var(--light-gray);
}
.mt__cl-light-gray {
  color: var(--light-gray);
}
.mt__bg-text {
  background-color: var(--text);
}
.mt__cl-text {
  color: var(--text);
}
.mt__bg-blue {
  background-color: var(--blue);
}
.mt__cl-blue {
  color: var(--blue);
}
.mt__bx-shadow {
  box-shadow: var(--shadow);
}
.mt__rounded {
  border-radius: var(--radius);
}
/* -------------- / STILE DECLARATION -------------- */

* {
  font-family: "Cambay", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-size: 14px;
  color: var(--text);
}
body {
  height: 100vh;
  background: var(--light-gray) url(../img/main-theme-bg.jpg) no-repeat center;
  background-size: cover;
}
/* ---------- COMPONENTS ---------- */
.mt__btn {
  background-color: var(--red);
  border-radius: var(--radius);
  font-family: var(--title-font);
  color: var(--white);
  transition: all 0.1s ease-in-out;
}
.mt__btn:hover {
  background: var(--dark-red);
}
.mt__btn:active {
  transition: all 0.02s ease-in-out;
  background: var(--click-red);
  transform: scale(0.99);
}
/* ---------- / COMPONENTS ---------- */

.mt__line-after {
  border-right: 2px dashed var(--light-red);
}
.mt__discounted {
  font-weight: 500;
  text-decoration: line-through;
  font-size: 0.7em;
  color: var(--light-gray);
}
.mt__footer {
  margin-left: calc((var(--bs-gutter-x) * 0.5) * -1) !important;
}
